################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneDrive/Vives 2022-2023/ICT programming/O ICT/Eigen project voor lcd/Minigame.sln
